<div class="add_top_padding card .card-group", style="margin: 40px 90px 90px 90px">
  <div class="card-title"><h1 class="add_top_padding add_left_padding font-weight-bold">About Me</h1></div>
  <div class="card-body">
	<p>My name is Hao Lam. I am building a Pinterested clone website.</p>
	<p>I like Pandas. Let's build a panda collections together.</p>
  </div>
  <div class="card-footer">
  	<p><strong style="color: red">DISCLAIMER:</strong> These pictures are NOT MINE. Huge credit to the owners who made these pictures.</p>
  </div>
  <div>
  </div>
</div>