<div class="jumbotron center add_right_padding" style="padding: 20px 0px 15px 30px;" style="display: flex;">
  <h1 class="display-4">Welcome To My Pinterested App!</h1>
  <p class="lead">Pretty cool, don't you think?</p>


</div>